<div class="row">
  <div class="col-xs-12" style="margin: 10px 0">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="recipe-list-container " style="margin: 10px 0">
  <div href="" class="recipe-container" *ngFor="let recipe of recipes" (click)="OnRecipeClick(recipe)">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive recipe-image">
    </span>
  </div>
</div>



